@@include("_header.html", { title: "Главная" })
    <main class="main">
        @@include("../blocks/modules/side-menu/side-menu.html")
        <div class="container-xlg">
            @@include("../blocks/modules/intro/intro.html")

            @@include("../blocks/modules/model-row/model-row.html")

            @@include("../blocks/modules/model/model.html")

            @@include("../blocks/modules/stock/stock.html")
    
            @@include("../blocks/modules/product/product.html")
    
            @@include("../blocks/modules/test-drive/test-drive.html")
    
            @@include("../blocks/modules/map/map.html") 
        </div>
    </main>
@@include("_footer.html")
